[Unit]
Description=pl_boot service
Wants=network-online.target
After=network.target

[Service]
# it is possible to mention ExecStart several times
#ExecStart=/etc/init.d/pl_sysinit
#ExecStart=/etc/init.d/pl_boot
# However pl_wrapper is a convenience that lets us
# reliably redirect outputs to the console
ExecStart=/etc/init/pl_wrapper
Type=oneshot

