[Unit]
Description=pl_boot service
Wants=getty@tty2.service
Wants=network-online.target
After=network.target

[Service]
ExecStart=/etc/init.d/pl_sysinit
ExecStart=/etc/init.d/pl_boot
Type=oneshot
