[Unit]
Description=pl_boot service
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/etc/init.d/pl_wrapper
Type=oneshot
